* {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: #291f1a;
    font-family: 'Lato', sans-serif;
}

h3 {
    text-align: center;
    font-size: 2em;
    font-weight: 100;
}

span {
    color: #1ac056;
    font-weight: 300;
}

.column {
    float: left;
    width: 50%;
}

p {
    font-weight: 300;
    line-height: 1.5;
}

section {
    padding: 80px 100px;
}

/*****Navigation*****/

#navigation {
    position: fixed;
    z-index: 100;
    width: 100%;
}

#navigation ul {
    text-align: right;
    padding: 0;
    margin: 0;
}

#navigation li {
    display: inline-block;
    padding: 25px;
}

#navigation a {
    color: #1ac056;
    text-decoration: none;
    font-weight: 400;
    transition: all 0.3s;
    background-color: rgba(255, 255, 255, 0.8);
}

#navigation a:hover {
    color: #291f1a;
}

#navigation #drop-menu,
#navigation label[for="drop-menu"] {
    display: none;
}

/*****Header*****/

header {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.4), rgba(26, 192, 86, 0.3)), url(../img/background.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
}

.main-header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.main-header h1,
h2 {
    color: #fff;
    font-weight: 100;
    font-size: 6em;
    margin: 0;
}

.main-header h2 {
    font-size: 2em;
    padding: 15px;
}

/*****O mnie*****/

#about {
    background-color: #f9fcfe;
    overflow: hidden;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.4);
}

#about figure {
    text-align: center;
    margin: 0;
}

#about .column p {
    margin: 0 0 10px 0;
}

#about img {
    height: 350px;
    width: 280px;
    border: 10px solid #fff;
    border-radius: 10px;
}

/***** Umiejetnosci*****/

#skills {
    text-align: center;
}

#skills figure {
    display: inline-block;
}

#skills figure figcaption {
    margin-top: 20px;
    font-weight: 300;
}

/***** Portfolio *****/

#portfolio {
    overflow: hidden;
}

.portfolio-item {
    margin: 0;
    position: relative;
    width: 33.33%;
    height: 350px;
    background-size: cover;
    background-position: center;
    float: left;
}

#portfolio-1 {
    background-image: url(../img/portfolio1.jpg);
}

#portfolio-2 {
    background-image: url(../img/portfolio2.jpg);
}

#portfolio-3 {
    background-image: url(../img/portfolio3.jpg);
}

.mask {
    margin: 0;
    height: 100%;
    background-color: rgba(33, 59, 80, 0.7);
    opacity: 0;
    transition: all 1s;
}

.hover-b {
    position: absolute;
    color: #fff;
    width: 95%;
    height: 95%;
    border: 1px solid #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hover-text {
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    width: 100%;
}

.hover-text a {
    font-size: 2em;
    color: #fff;
    transition: all 0.3s;
}

.hover-text a:hover {
    color: #1ac056;
}

.mask:hover {
    opacity: 1;
}

/***** Footer *****/

#contact {
    background-color: #213b50;
    overflow: hidden;
    color: #fff;
}

#contact h3 {
    color: #fff;
    text-align: left;
}

address {
    text-decoration: none;
    font-style: normal;
    font-weight: 100;
    line-height: 1.5;
}

address a {
    color: #1ac056;
}

#social-media {
    margin-top: 40px;
    margin-bottom: 40px;
}

#social-media a {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
    color: #fff;
    text-align: center;
    font-size: 2em;
    margin-right: 20px;
    line-height: 50px;
    transition: all 0.3s;
    border-radius: 4px;
}

#social-media a:hover {
    background-color: #fff;
    color: #213b50;
}

/***** Form *****/

#contact input:not([type="submit"]),
textarea {
    display: block;
    width: 100%;
    background-color: #3b6181;
    margin-bottom: 10px;
    padding: 13px;
    border: none;
    color: #fff;
    outline: none;
    border-radius: 4px;
    font-family: 'Lato', sans-serif;
}

#contact textarea {
    height: 80px;
}

#contact input[type="submit"] {
    background-color: #1ac056;
    padding: 15px 25px;
    text-align: center;
    border: none;
    color: #fff;
    float: right;
    transition: all 0.3s;
    border-radius: 4px;
}

#contact input[type="submit"]:hover {
    cursor: pointer;
    color: #1ac056;
    background-color: #fff;
}

/***** Copyright *****/

.copyright {
    background-color: #142634;
    color: #fff;
    padding: 10px 100px;
}